.text-white {
  font-weight: bold;
  text-align: center;
  color: #fff
}

.card {
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.card-img-top {
  width: 90%;
  height: 250px;
  margin: 10px auto auto;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
  line-height: 1.4rem;
  height: 2.8rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title a {
  color: black;
  text-decoration: none;
}

.badge {
  font-size: 0.8rem;
  background-color: #337ab7;
}

.footer {
  padding-top: 1rem;
}

.original-price {
  text-decoration: line-through;
}

// ANIMATION

.animated-badge {
  animation: color-change 1s infinite alternate;
}

@keyframes color-change {
  0% {
    background-color: #ff5959;
  }

  50% {
    background-color: #337ab7;
  }

  100% {
    background-color: #ff5959;
  }
}
