.text-sky {
    color: #337ab7;
}

.text-green {
    color: #638a58;
}

.text-brown {
    color: #895a41;
}

h1,
h2 {
    font-weight: bold;
    text-align: center;
}

.card {
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 90%;
    height: 300px;
    margin: auto;
    margin-top: 10px; 
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    text-align: center;
    max-lines: 2;
    height: 45px;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge {
    font-size: 0.8rem; 
    background-color: #337ab7;
}

.pagination {
    margin-top: 2rem;
}

.pagination .page-link {
    color: #143c5e;
}

.pagination .page-link.active {
    background-color: #b2dbff;
    border-color: #337ab7;
}

.footer {
    padding-top: 1rem;
}

.original-price {
    text-decoration: line-through;
}

.discounted-price {
    color: red;
}

.animated-badge {
    animation: color-change 1s infinite alternate; /* Define animation */
  }
  
  @keyframes color-change {
    0% { background-color: #ff5959; }
    50% { background-color: #337ab7; }
    100% { background-color: #ff5959; } /* Ensure seamless transition */
  }
  
  