/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('./assets/background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin-top: 80px;
}

.text-sky {
  color: #337ab7;
}

.text-green {
  color: #44a131;
}

.text-sea {
  color: #2f36c4;
}
