h4 a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.cart-item {
  border-bottom: 2px solid #eee;
}

.cart-container {
  border-radius: 10px;
  width: 75%;
}

.cart-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.input-group-btn button {
  border-color: #337ab7;
  background-color: #337ab7;
  color: #fff;
}

.text-truncate {
  white-space: pre-line;
  line-height: 1.4rem;
  height: 4.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1.2rem;
  text-align: justify;
  text-justify: inter-character;
}

.text-muted {
  font-size: 0.85rem;
  padding: 0 0 0 20px;
}

.total {
  font-weight: bold;
}

.img-cart {
  height: 33vh;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.all-total {
  font-size: 24px;
}

.input-group {
  padding: 0 0 0 20px;
}


@media (max-width: 768px) {
  .input-group {
    padding: 0;
  }

  .text-muted {
    padding: 0;
  }
}

