<ng-template #display>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 bg-light sidebar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin-dashboard">Products Manager</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Vouchers Manager</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Users Manager</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 p-4 mainbody">
                <h1 class="text-center mb-4 fw-bolder text-white">Products Manager</h1>
                <div class="d-flex justify-content-between">
                    <a href="#" class="btn btn-primary">Add New Product</a>
                    <p class="fw-bold text-white">{{0}} products available</p>
                </div>
                <table class="table table-hover mt-4 text-center">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Instock</th>
                            <th>Image</th>
                            <th>Category</th>
                            <th>Discount</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products$ | async as getProducts, let i = index">
                            <td>{{i+1}}</td>
                            <td class="text-start">{{product.name}}</td>
                            <td>{{product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                            <td>{{product.inStock}}</td>
                            <td><img [src]="product.images[0]" alt="Product Image" width="50"></td>
                            <td>{{product.category}}</td>
                            <td>{{product.discount}}%</td>
                            <td><a href="#" class="btn btn-sm btn-success m-1">UPDATE</a>
                                <a href="#" class="btn btn-sm btn-danger m-1">DELETE</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</ng-template>
<ng-template #notfound>
    <app-page404></app-page404>
</ng-template>

<ng-container *ngIf="(isAdmin$ | async) as isAdmin, then display, else notfound">
</ng-container>