.checkoutContainer {
    display: flex;
    margin: 50px 0;
}

.amount {
    display: flex;
    border: 2px #33cc66 solid;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-content: center;

}

.userInfo {
    width: 50%;
    /* margin: 50px; */
    padding-left: 50px;
    display: block;
}

.userInfo input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;

}

.bill {
    width: 50%;
    /* background-color: #f1f1f1; */
    /* height: 500px; */
    /* border-left: 1px #33cc66 solid; */
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.productInfo {
    border-radius: 5px;
    padding: 20px;
    border: 2px #33cc66 solid;
}

.contentProductInfo {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}

.contentProductInfo img {
    margin-right: 0px;
    object-fit: cover;
}

.contentProductInfo h4 {
    margin-right: 30px;
}

.productInfo hr {
    margin-bottom: 40px;
    margin-top: 40px;
}

.order_list {
    padding-top: 10px;
    padding-bottom: 10px;
    width: max-content;
    margin: auto;
}

.order_list ul {
}

.line {
    box-shadow: 10px 10px 5px rgba(51, 204, 102, 0.29);
    margin: 20px;
    padding: 20px;
    border: solid #33cc66;
    position: relative;
}

.order_item {
    width: 800px;
    border: solid #33cc66 2px;
    padding: 10px;
    margin: auto auto 30px;
}

.no_bot {
    border-bottom: none;
}

.item {
    display: flex;
    width: auto;
    margin: 5px;
    border-bottom: none;
}

.line button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.name_cat {
    width: 50%;
    padding: 0 30px 0 20px;
}

.price_quant {
    width: 30%;
}

button {
    background-color: #33cc66;
    border-radius: 3px;
    border: 0;
    padding: 5px;
}

button:hover {
    background-color: #07f255;
}

.numberOfItem {
    position: absolute;
    top: 2px;
    left: 30px;
    text-align: center;
    background: red;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 15px;
    color: #ffffff;
    z-index: 999;
    font-style: normal;
}

.active-link {
    color: red;
}

.quantity_order {
    margin-left: 30px;
}


.checkout {
    width: 90%;
    margin: 0;
    border: 2px solid #33cc33;
}

.out {
    background-color: white;
    border: 2px solid #33cc33;
    width: 100%;
    text-align: start;
}

.checkoutForm {
    padding: 15px 30px 30px 30px;
    margin-right: 0;
    border: #00ad33 solid 2px;
}

.checkoutBtn {
    background-color: #33cc66;
    margin: 10px;
    padding: 8px 20px;
    border: none;
}

.checkoutBtn:hover {
    background-color: rgba(70, 255, 100, 1);
    color: white;
}

.enter {
    border: 2px solid #33cc33;
    width: 100%
}

.bill {
    border-radius: 5px;
    border-color: #33cc33;
    border-image-width: 1px;
}

 
