.sidebar {
    background-color: #e5f5f9; 
    position: fixed; 
    top: 55px;
    height: 100vh;
}

.mainbody {
    margin-left: 16.5vw;
}

td,th {
    padding: 0.5rem;
    border: solid lightgray 1px;
}

th {
    background-color: #dff0ff;
}
.table-header {
    color:#337ab7 
}

.sidebar .nav-link {
    color: #333;
}

.sidebar .nav-link.active {
    background-color: #d5e5ea; 
    color: #337ab7; 
} 

@media (max-width: 768px) {
    .sidebar {
      display: none;
    } 

    .mainbody {
        margin-left: 0;
    }
  }