<div>
    <header id="wn__header" class="oth-page header__area header__absolute sticky__header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-7 col-lg-2">
                    <div class="logo">
                        <img src="https://res.cloudinary.com/ddmdpbsoc/image/upload/v1704955639/logo_wgnbdl.png"
                            alt="logo images">
                    </div>
                </div>
                <div class="col-lg-8 d-none d-lg-block">
                    <nav class="mainmenu__nav">
                        <ul class="meninmenu d-flex justify-content-start">
                            <li class="drop with--one--item"><a routerLink="/home" class="tro-lai-trang-chu">Trang
                                    chủ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-8 col-sm-8 col-5 col-lg-2">
                    <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
                        <li class="shop_search"><a class="search__active" href="#"></a></li>
                        <li class="wishlist"><a href="#"></a></li>
                        <!-- GIỏ hàng -->
                        <li class="shopcart"><a class="cartbox_active" style="cursor: pointer;" (click)="displayCart()">
                                <span class="product_qun"></span></a>
                            <!-- Start Shopping Cart -->
                            <div class="block-minicart minicart__active">
                                <div class="minicart-content-wrapper gio-hang-body">
                                    <div class="items-total d-flex justify-content-between">
                                        <span>{{ bookList.length }}</span>
                                        <span>Tổng tiền</span>
                                    </div>
                                    <div class="total_amount text-end">
                                        <span>{{ totalAmount | currency:'VND':'symbol':'1.0-0' }}</span>
                                    </div>
                                    <div class="mini_action checkout">
                                        <a class="checkout__btn" href="/api/v1/cart?maSach=${maSach}&maTk=${maTk}">Yêu
                                            cầu mượn</a>
                                    </div>
                                    <div class="single__items">
                                        <div class="miniproduct chi-tiet-sach-trong-gio-hang">
                                            <!-- In your component.html -->
                                            <div *ngFor="let item of bookList.slice(0, 5)" class="item01 d-flex mt--20">
                                                <div class="thumb">
                                                    <img [src]="item.image" alt="product image"
                                                        style="width: 75px; height: 94px">
                                                </div>
                                                <div class="content">
                                                    <h6>{{ item.name | truncate: 18 }}</h6>
                                                    <span class="price">{{ item.price | currency:'VND':'symbol':'1.0-0'
                                                        }}</span>
                                                    <div class="product_price d-flex justify-content-between">
                                                        <!-- Additional content here if needed -->
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="mini_action cart">
                                        <a class="cart__btn" href="/api/v1/cart?maSach=${maSach}&maTk=${maTk}">Xem
                                            và chỉnh sửa</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Shopping Cart -->
                        </li>
                        <li class="setting__bar__icon"><a class="setting__active" href="#"></a>
                            <div class="searchbar__content setting__block">
                                <div class="content-inner">
                                    <div class="switcher-currency">
                                        <strong class="label switcher-label">
                                            <span>Tài khoản của tôi</span>
                                        </strong>
                                        <div class="switcher-options">
                                            <div class="switcher-currency-trigger">
                                                <div class="setting__menu">
                                                    <span><a href="#" onclick="thongTinMuonTraBtn()">Thông tin cá
                                                            nhân</a></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="switcher-options">
                                            <div class="switcher-currency-trigger">
                                                <div class="setting__menu">
                                                    <span><a href="#" onclick="dangXuatBtn()">Đăng xuất</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Start Mobile Menu -->
            <div class="row d-none">
                <div class="col-lg-12 d-none">
                    <nav class="mobilemenu__nav">
                        <ul class="meninmenu">
                            <li><a>Home</a>
                                <ul>
                                    <li><a>Home Style Default</a></li>
                                    <li><a href="boighor/index-2.html">Home Style Two</a></li>
                                    <li><a href="boighor/index-3.html">Home Style Three</a></li>
                                    <li><a href="boighor/index-box.html">Home Box Style</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Pages</a>
                                <ul>
                                    <li><a href="boighor/about.html">About Page</a></li>
                                    <li><a href="boighor/portfolio.html">Portfolio</a>
                                        <ul>
                                            <li><a href="boighor/portfolio.html">Portfolio</a></li>
                                            <li><a href="boighor/portfolio-three-column.html">Portfolio 3 Column</a>
                                            </li>
                                            <li><a href="boighor/portfolio-details.html">Portfolio Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="boighor/my-account.html">My Account</a></li>
                                    <li><a href="cart.html">Cart Page</a></li>
                                    <li><a href="boighor/checkout.html">Checkout Page</a></li>
                                    <li><a href="boighor/wishlist.html">Wishlist Page</a></li>
                                    <li><a href="error404.html">404 Page</a></li>
                                    <li><a href="boighor/faq.html">Faq Page</a></li>
                                    <li><a href="boighor/team.html">Team Page</a></li>
                                </ul>
                            </li>
                            <li><a href="shop-grid.html">Shop</a>
                                <ul>
                                    <li><a href="shop-grid.html">Shop Grid</a></li>
                                    <li><a href="boighor/shop-list.html">Shop List</a></li>
                                    <li><a href="boighor/shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                    <li><a href="boighor/shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                    <li><a href="boighor/shop-no-sidebar.html">Shop No sidebar</a></li>
                                    <li><a href="/api/v1/single-product">Single Product</a></li>
                                </ul>
                            </li>
                            <li><a href="boighor/blog.html">Blog</a>
                                <ul>
                                    <li><a href="boighor/blog.html">Blog Page</a></li>
                                    <li><a href="boighor/blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="boighor/blog-no-sidebar.html">Blog No Sidebar</a></li>
                                    <li><a href="boighor/blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- End Mobile Menu -->
            <div class="mobile-menu d-block d-lg-none">
            </div>
            <!-- Mobile Menu -->
        </div>
    </header>

</div>