<ng-template #display>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 bg-light sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a (click)="productsManager()" [ngClass]="{'active': board==='products-manager'}" class="nav-link"
               routerLink="/admin-dashboard/products-manager/1" routerLinkActive="active">Products Manager</a>
          </li>
          <li class="nav-item">
            <a (click)="usersManager()" [ngClass]="{'active': board==='users-manager'}" class="nav-link"
               routerLink="/admin-dashboard/users-manager/1" routerLinkActive="active">Users Manager</a>
          </li>
        </ul>
      </div>
      <div *ngIf="board==='products-manager'" class="col-md-10 p-4 main-body">
        <app-product-manager></app-product-manager>
      </div>
      <div *ngIf="board==='users-manager'" class="col-md-10 p-4 main-body">
        <app-user-manager></app-user-manager>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #notfound>
  <app-page404></app-page404>
</ng-template>
<ng-container *ngIf="(isAdmin$ | async), then display, else notfound">
</ng-container>
