<ng-template #display>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 bg-light sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a (click)="onProductsManager()" [ngClass]="{'active': board==='products-manager'}" class="nav-link"
               routerLink="/admin-dashboard/products-manager/1" routerLinkActive="active">Products Manager</a>
          </li>
          <li class="nav-item">
            <a (click)="onUsersManager()" [ngClass]="{'active': board==='users-manager'}" class="nav-link"
               routerLink="/admin-dashboard/users-manager/1" routerLinkActive="active">Users Manager</a>
          </li>
          <li class="nav-item dropdown">
            <a [ngClass]="{'active': board==='orders-manager'}" aria-expanded="false" class="nav-link dropdown-toggle"
               data-bs-toggle="dropdown" id="navbarDropdown" role="button">
              Orders Manager
            </a>
            <ul (click)="onOrdersManager()" aria-labelledby="navbarDropdown" class="dropdown-menu">
              <li><a [queryParams]="{status: OrderStatus.CUSTOMER_CONFIRMED.toLowerCase()}" class="dropdown-item"
                     routerLink="/admin-dashboard/orders-manager/1"
                     routerLinkActive="active">Checked out orders</a></li>
              <li><a [queryParams]="{status: OrderStatus.ADMIN_PREPARING.toLowerCase()}" class="dropdown-item"
                     routerLink="/admin-dashboard/orders-manager/1"
                     routerLinkActive="active">Preparing orders</a></li>
              <li><a [queryParams]="{status: OrderStatus.SHIPPING.toLowerCase()}" class="dropdown-item"
                     routerLink="/admin-dashboard/orders-manager/1"
                     routerLinkActive="active">Shipping orders</a></li>
              <li><a [queryParams]="{status: OrderStatus.CUSTOMER_REQUEST_CANCEL.toLowerCase()}" class="dropdown-item"
                     routerLink="/admin-dashboard/orders-manager/1"
                     routerLinkActive="active">Canceling orders</a>
              </li>
              <li><a [queryParams]="{status: OrderStatus.SUCCESS.toLowerCase()}" class="dropdown-item"
                     routerLink="/admin-dashboard/orders-manager/1"
                     routerLinkActive="active">Successful orders</a></li>
              <li><a [queryParams]="{status: OrderStatus.CANCELED.toLowerCase()}" class="dropdown-item"
                     routerLink="/admin-dashboard/orders-manager/1"
                     routerLinkActive="active">Canceled orders</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div *ngIf="board==='products-manager'" class="col-md-10 p-4 main-body">
        <app-product-manager></app-product-manager>
      </div>
      <div *ngIf="board==='users-manager'" class="col-md-10 p-4 main-body">
        <app-user-manager></app-user-manager>
      </div>
      <div *ngIf="board==='orders-manager'" class="col-md-10 p-4 main-body">
        <app-order-manager></app-order-manager>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #notfound>
  <app-page404></app-page404>
</ng-template>
<ng-container *ngIf="(isAdmin$ | async), then display, else notfound">
</ng-container>
