.dark-footer {
    background-color: #f1f1f1;
    color: black;
    bottom: 0;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
}

.slogans {
    display: block;
    background-color: #f7fffa;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}


.slogans div {
    display: inline-block;
    width: 25%;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.imgFooter {
    width: 100px;
    height: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.container ul {
    margin-top: 10px;
}

h3 {
    font-size: 1.5rem;
    margin-top: 0;
}

p {
    margin: 0;
}

i {
    color: black;
    padding: 10px;
    font-size: 30px;
}

i:hover {
    color: #33cc66;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    display: inline;
}
