<div *ngIf="product$ | async as p" class="container">
  <div class="details-container">
    <div class="row">
      <div class="col-md-4">
        <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
          <div class="carousel-indicators">
            <button *ngFor="let image of p.images; let i = index"
                    [attr.data-bs-slide-to]="i"
                    [attr.data-bs-target]="'#carouselExampleIndicators'"
                    [class.active]="i === 0"
                    aria-current="true"
                    type="button">
            </button>
          </div>
          <div class="carousel-inner">
            <div *ngFor="let image of p.images; let i = index"
                 [class.active]="i === 0"
                 class="carousel-item">
              <img [src]="image" alt="Slide {{ i + 1 }}" class="d-block w-100">
            </div>
          </div>
          <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators"
                  type="button">
            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators"
                  type="button">
            <span aria-hidden="true" class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-8 bg-white detail-part">
        <h1 class="mb-3">{{ p.name }}</h1>
        <pre><p class="product-description">{{ p.description }}</p></pre>
        <div class="price-info">
          <h3>{{ p.price | currency }}</h3>
          <span *ngIf="p.discount > 0" class="discount">({{ p.discount }}% off)</span>
        </div>
        <p class="in-stock">In Stock: {{ p.inStock }}</p>
        <div class="btn-group">
          <button class="btn btn-primary">Add to Cart</button>
          <button class="btn btn-success">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
