td,
th {
  padding: 0.5rem;
  border: solid lightgray 1px;
}

th {
  background-color: #dff0ff;
}

.history {
  padding: 0 5vw;
}

.modal-dialog {
  max-width: 800px;
}

.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  padding: 15px;
}

.modal-title {
  font-weight: bold;
}

.modal-body {
  padding: 20px;
}

.order-summary table {
  width: 100%;
}

.order-summary td,
.order-summary th {
  padding: 8px;
  border-bottom: 1px solid #dee2e6;
}

.order-summary th {
  text-align: left;
}

.order-summary tfoot td {
  font-weight: bold;
}

.note {
  line-height: 1.5;
  font-family: Pacifico, cursive;
  white-space: pre-wrap;
  overflow: auto;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 300px;
  font-weight: 600;
  color: #255b86;
}

.custom-select option {
  color: black;
  font-weight: 300;
}
