<!-- navbar.html -->
<nav #container class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="cursor: pointer" (click)="addBorrowBookComponent()">Lịch sử mượn trả</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click)="addUpdateUserInforComponent()">Thông tin cá nhân</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
